### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/MyExample.java
/.idea/checkstyle-idea.xml
/.idea/modules.xml
/MyExample.iml
/target/classes/index/Index.class
/target/test-classes/IndexTest.class
/target/classes/TestPeopleIQ/MyTestPeopleIQ.class
